<header id="header">
    <nav class="navbar navbar-linkdesk navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="padding: 10px 15px;" href="">
                    <span class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <img style="height: 36px;" src="{{assets '/images/logo.png'}}" class="img-rounded"/>
                            <span class="spanbox"></span>
                        </a>
                    </span>
                </a>
            </div>
            <div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            </div>
        </div>
    </nav>
</header>
<div class="tip-view" tabindex="-1">
    <button class="tip-to-view" style="display: none;"></button>
</div>
<div id="main"></div>
<div id="pop-view-div"></div>
<footer id="footer">
    <div class="container">
        <hr>
        <p>Powered by Backbone.js</p>
    </div>
</footer>
